* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

.space {
    padding: 5px;
  }

.bigspace {
    padding: 10px;
}
  
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}